body {
    background-image: url("/static/images/quiz-2137664.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center top;
    height:100vh;
    width:100vw;

}

body::before {
    content: "";
    position: fixed;
    display: block;
    z-index: -1;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: radial-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.9));
    /* background-image: linear-gradient(to right, rgba(0,0,0,0.5), rgba(255,255,255,0.2), rgba(0,0,0,0.5)); */
    background-size: cover;
    background-repeat: no-repeat;
}

.home_div {
    margin: 0 auto;
    width: 30%;
    text-align: center;
    color: white;
    margin-top: 50px;
}

.quiz_form input[type='text'] {
    margin-top: 50px;
    margin-bottom: 30px;
    padding: 10px 20px 10px 20px;
    border-radius: 1em;
    background-color: rgba(0, 0, 0, 0.2);
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    border-color: #9c51e9;
    color: #fff;
    box-shadow: 0 0 10px 0 #9c51e9 inset, 0 0 10px 4px #9c51e9;
}

.quiz_form input[type='submit'] {
    text-align: center;
    padding: 1em 3em;
    border-radius: 2em;
    min-width: 200px;
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    border-color: #9c51e9;
    color: #fff;
    box-shadow: 0 0 40px 40px #9c51e9 inset, 0 0 0 0 #9c51e9;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}

.quiz_form input[type='submit']:hover {
    box-shadow: 0 0 10px 0 #9c51e9 inset, 0 0 10px 4px #9c51e9;
    color: #fff;
    outline: 0;
}

.message {
    font-weight: 600;
    color: dodgerblue;
}

.navbar {
    background-color: transparent;
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    padding: 20px 100px 10px 100px;
}

.navbar a {
    text-decoration: none;
    color: inherit;
}

.navbar-brand {
    font-size: 1.2em;
    font-weight: 600;
}

.navbar-item {
    font-variant: small-caps;
    margin-left: 30px;
}

.body-content {
    padding: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}