<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/site.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/form.css')}}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@3/dark.css">

</head>

<body>
    <div class="navbar">
        <a href="{{ url_for('home') }}" class="navbar-brand">Home</a>
        <a href="{{ url_for('about') }}" class="navbar-item">About</a>
        <a href="{{ url_for('contact') }}" class="navbar-item">Contact</a>
        <a href="#loginModal" class="navbar-item" data-toggle="modal">Login</a>
    </div>

    <div class="modal fade" id="loginModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <h2 class="modal-title text-center">Login</h2><br>
                    <form action="/login" method="POST">
                        {{ loginForm.hidden_tag() }}
                        <div class="form-group">
                            {{ loginForm.email.label(class="control-label") }}
                            {{ loginForm.email(class="form-control") }}
                        </div>
                        <div class="form-group">
                            {{ loginForm.password.label(class="control-label") }}
                            {{ loginForm.password(class="form-control") }}
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label class="">
                                    {{ loginForm.remember }}
                                    {{ loginForm.remember.label }}
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            {{ loginForm.loginSubmit(class="btn btn-block btn-purple") }}
                        </div>
                        <div class="form-group">
                            <label class="control-label">Don't have an account? <a href="#signupModal"
                                    data-dismiss="modal" data-toggle="modal" class="form-link">Register</a></label>
                        </div>
                    </form>
                    <!-- <button type="button" class="btn" data-dismiss="modal">Close</button> -->
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="signupModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <h2 class="modal-title text-center">Sign Up</h2><br>
                    <form action="/register" method="POST">
                        {{ registrationForm.hidden_tag() }}
                        <div class="form-group">
                            {{ registrationForm.email.label(class="control-label") }}
                            {{ registrationForm.email(class="form-control") }}
                        </div>
                        <div class="form-group">
                            {{ registrationForm.password.label(class="control-label") }}
                            {{ registrationForm.password(class="form-control") }}
                        </div>
                        <div class="form-group">
                            {{ registrationForm.confirm_password.label(class="control-label") }}
                            {{ registrationForm.confirm_password(class="form-control") }}
                        </div>
                        <div class="form-group">
                            {{ registrationForm.registrationSubmit(class="btn btn-block btn-purple") }}
                        </div>
                        <div class="form-group">
                            <label class="control-label">Already have an account? <a href="#loginModal"
                                    data-dismiss="modal" data-toggle="modal" class="form-link">Log In</a></label>
                        </div>
                    </form>
                    <!-- <button type="button" class="btn" data-dismiss="modal">Close</button> -->
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        {% block content %}
        Text in layout
        {% endblock %}
        <hr />
        <footer class="footer">
            <p>© 2018</p>
        </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/js/all.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.js"></script>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, error in messages %}
    {% if category == 'validation' %}
    {% for field, errors in error %}
    <script>
        Swal.fire({
            icon: 'error',
            title: 'Error',
            html: '{{ field }}: {{ ", ".join(errors) }}',
            position: 'top',
            timerProgressBar: true,
            showConfirmButton: false,
            timer: 1500
        });
    </script>
    {% endfor %}
    {% elif category == 'success' %}
    <script>
        Swal.fire({
            icon: 'success',
            html: '{{ "<br>".join(error) | safe}}',
            position: 'top',
            timerProgressBar: true,
            showConfirmButton: false,
            timer: 1500
        });
    </script>
    {% else %}
    <script>
        Swal.fire({
            icon: '{{ category }}',
            title: 'Error',
            html: '{{ ", ".join(error) }}',
            position: 'top',
            timerProgressBar: true,
            showConfirmButton: false,
            timer: 1500
        });
    </script>
    {% endif %}
    {% endfor %}
    {% endif %}
    {% endwith %}
</body>

</html>